body {
	font-size: 13px;
	overflow-x: hidden;
}
body a {
	color: $color-link;
	&:hover,
	&:active,
	&:focus {
		color: $color-link-hover;
		text-decoration: none;
	}
}
ul {
	padding-left: 0;
	li {
		list-style: none;
	}
}
.top-header select,
.mid-header select {
	line-height: 44px;
}
.top-header {
	background-color: $color-light-gray-1;
	.left-nav,
	.localisation,
	.autorization,
	.your-city-wrapper {
		float: left;
	}
	.localisation,
	.autorization {
		width: 15%;
	}
	.left-nav,
	.localisation,
	.autorization {
		a {
			line-height: 44px;
		    display: block;
		    float: left;
		    vertical-align: middle;
		    height: 44px;
		    margin-right: 15px;	
		}
	}
	.left-nav {
		width: 50%;
	}
	.your-city-wrapper {
		line-height: 44px;
		width: 20%;
		label {
			color: $color-link;
			float: left;
		} 
		.select-wrapper {
			border-right: 1px solid $color-light-gray-3;
		    border-left: 1px solid $color-light-gray-3;
		}
	}
	.form-language a:first-child {
		border-bottom: 2px solid $color-red-main;
	}
	.autorization {
		text-align: right;
		a {
			margin: 0 0 0 15px;
			float: right;
		}
		.log-in-link {
			color: $color-red-main;
			&:before {
			    content: "";
			    display: block;
			    width: 11px;
			    height: 14px;
			    float: left;
			    margin: 14px 5px 0 0;
			    background: url($lock-image) $lock-offset-x $lock-offset-y;
				height: $lock-height;
				width:$lock-width;
			}
		}
	}
}
.active_head {
	border-bottom: 2px solid $color-red-main;
	color: $color-primary-font;
}
.mid-header {
	.logo-wrappder,
	#search, 
	#call-back,
	.action-buttons {
		float: left;
		display: block;	
	}
	.logo-wrappder {
		width: 20%;
		background-color: $color-yelow;
		padding: 35px 0;
		max-height: 115px;
		overflow: hidden;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	#search_mini_form {
		position: relative;
		width: 30%;
		padding: 0 2%;
		float: left;
	}
	#call-back {
		height: 115px;
		width: 25%;
		.select-wrapper {
			padding-top: 35px;
		}
		.main-btn {
			margin-top: 40px;
		}
	}
	.action-buttons {
		width: 25%;
		position: relative;
		ul li {		
			float: right;
			width: 25%;
			text-align: center;
		}
		li a {
			font-size: 12px;
			color: $color-link;
			text-transform: initial;
			width: 100%;
		}
		li .skip-link {
			line-height: 19px;

		}
		.icon-wrapper .action-btn  {
			display: block;
			margin: 0 auto 15px auto;
		}
		.icon-wrapper .shopping-cart {
			margin-bottom: 10px;
		}
		.icon-wrapper {
			margin-top: 30px;
			width: 100%;
			height: 30px;
			display: inline-block;
		}
		.garage {
			background: url($hause-img-image) $hause-img-offset-x $hause-img-offset-y;
			height: $hause-img-height;
			width: $hause-img-width;
		}
		.wishlist {
			background: url($heard-icon-image) $heard-icon-offset-x $heard-icon-offset-y;
			height: $heard-icon-height;
			width: $heard-icon-width;
		}
		.compare {
			background: url($compare-icon-image) $compare-icon-offset-x $compare-icon-offset-y;
			height: $compare-icon-height;
			width:$compare-icon-width;
		}
		.shopping-cart {
			background: url($cart-icon-image) $cart-icon-offset-x $cart-icon-offset-y;
			height: $cart-icon-height;
			width:$cart-icon-width;
		}
	}
	.search-autocomplete:before {
		display: none;
	}
}
.bread-crumbs {
	margin: 20px 0;
	ul li {
		position: relative;
	    float: left;
	    padding-right: 25px;
	    margin-right: 15px;
		&:after {
			content: "";
			position: absolute;
		    right: 0;
		    top: 8px;
		    display: block;
		    transform: rotate(-90deg);
			width: $arrow-down-width;
			height: $arrow-down-height;
			background: url($arrow-down-image) $arrow-down-offset-x $arrow-down-offset-y;
		}
	}
	ul li:last-child:after {
		background: transparent;
	}
}
.main-content {
	margin: 30px 0;
}
.product-essential {
	position: relative;
	.ticket-cod {
		right: 0;
		top: 0;
		background-color: #ffdc2c;
		position: absolute;
		text-align: right;
		padding: 10px 10px 10px 15px;
		p {
			margin: 0;
		}
		&:before {
			content: "";
			position: absolute;
			left: -6px;
			top: 13px;
			display: block;
			width: 14px;
			height: 14px;
			background-color: #fff;
			border-radius: 7px;
		}
	}

}
.img-preview {
	width: 45%;
	float: left;
}
.product-view .descr-wrapper {
	margin-top: 30px;
	width: 55%;
	float: left;
	p {
		margin: 0;
	}
	.stat-item {
		display: block;
		float: left !important;
		margin-right: 25px;
	}
	.avialable {
		font-weight: 700;
	}
	.questions,
	.comments {
		position: relative;
		margin-left: 20px;
		border-bottom: 1px solid $color-link;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: -20px;
			top: 4px;
		}
	} 
	.comments:before {
		width: $chat-width;
		height: $chat-height;
		background: url($chat-image) $chat-offset-x $chat-offset-y;
	}
	.questions:before {
		width: $ask-l-width;
		height: $ask-l-height;
		background: url($ask-l-image) $ask-l-offset-x $ask-l-offset-y;
	}
	.main-info {
	    display: block;
    	margin-top: 47px;
    	padding: 30px;
    	background-color: $color-light-gray-2;
    	.price-wrp {
    		margin-bottom: 25px;
			display: inline-block;
    		span.price {
    			font-weight: 700;
				font-size: 40px;
				color: #999;
    		}
    	}
    	.main-btn {
    		margin-bottom: 30px;
    		padding: 15px 50px;
    		font-weight: 700;    
    	}
    	.description {
    		color: $color-link;
    		font-size: 12px;
    		margin-bottom: 30px;    	
    	}
    	.share,
    	.compare {
    		margin: 0 35px 0 30px; 
    		position: relative;
    		&:before {
    			content: "";
	    		display: block;
	    		float: left;
	    		position: absolute;
	    		left: -30px;
	    		top: -4px;
    		}
    	}
    	.share:before {
    		background: url($share-image) $share-offset-x $share-offset-y;
			height: $share-height;
			width: $share-width;
    	}
    	.compare:before {
    		background: url($compare-2-image) $compare-2-offset-x $compare-2-offset-y;
			height: $compare-2-height;
			width:$compare-2-width;
    	}
	}
}
@media screen and (max-width: 991px) {
	.top-header {
		.left-nav {
			width: 85%;
		}
		.localisation {
			width: 15%;
			a {
				float: right;
			}
		}
		.your-city-wrapper  {
			width: 60%;
		}
		.autorization {
			width: 40%;
		}
	} 
	.mid-header .logo-wrappder img {
		width: 100%;
		padding: 0 5px;
	}
}
@media screen and (max-width: 768px) {
	.descr-wrapper,
	.img-preview {
		width: 100%;
	}
}