// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-red-name: 'arrow-down-red';
$arrow-down-red-x: 147px;
$arrow-down-red-y: 76px;
$arrow-down-red-offset-x: -147px;
$arrow-down-red-offset-y: -76px;
$arrow-down-red-width: 10px;
$arrow-down-red-height: 6px;
$arrow-down-red-total-width: 158px;
$arrow-down-red-total-height: 116px;
$arrow-down-red-image: '../images/sprite.png';
$arrow-down-red: (147px, 76px, -147px, -76px, 10px, 6px, 158px, 116px, '../images/sprite.png', 'arrow-down-red', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 147px;
$arrow-down-y: 92px;
$arrow-down-offset-x: -147px;
$arrow-down-offset-y: -92px;
$arrow-down-width: 9px;
$arrow-down-height: 5px;
$arrow-down-total-width: 158px;
$arrow-down-total-height: 116px;
$arrow-down-image: '../images/sprite.png';
$arrow-down: (147px, 92px, -147px, -92px, 9px, 5px, 158px, 116px, '../images/sprite.png', 'arrow-down', );
$ask-l-name: 'ask-l';
$ask-l-x: 0px;
$ask-l-y: 103px;
$ask-l-offset-x: 0px;
$ask-l-offset-y: -103px;
$ask-l-width: 13px;
$ask-l-height: 13px;
$ask-l-total-width: 158px;
$ask-l-total-height: 116px;
$ask-l-image: '../images/sprite.png';
$ask-l: (0px, 103px, 0px, -103px, 13px, 13px, 158px, 116px, '../images/sprite.png', 'ask-l', );
$ask-name: 'ask';
$ask-x: 0px;
$ask-y: 72px;
$ask-offset-x: 0px;
$ask-offset-y: -72px;
$ask-width: 21px;
$ask-height: 21px;
$ask-total-width: 158px;
$ask-total-height: 116px;
$ask-image: '../images/sprite.png';
$ask: (0px, 72px, 0px, -72px, 21px, 21px, 158px, 116px, '../images/sprite.png', 'ask', );
$cart-icon-name: 'cart-icon';
$cart-icon-x: 0px;
$cart-icon-y: 0px;
$cart-icon-offset-x: 0px;
$cart-icon-offset-y: 0px;
$cart-icon-width: 28px;
$cart-icon-height: 27px;
$cart-icon-total-width: 158px;
$cart-icon-total-height: 116px;
$cart-icon-image: '../images/sprite.png';
$cart-icon: (0px, 0px, 0px, 0px, 28px, 27px, 158px, 116px, '../images/sprite.png', 'cart-icon', );
$chat-name: 'chat';
$chat-x: 23px;
$chat-y: 103px;
$chat-offset-x: -23px;
$chat-offset-y: -103px;
$chat-width: 12px;
$chat-height: 11px;
$chat-total-width: 158px;
$chat-total-height: 116px;
$chat-image: '../images/sprite.png';
$chat: (23px, 103px, -23px, -103px, 12px, 11px, 158px, 116px, '../images/sprite.png', 'chat', );
$checked-green-name: 'checked-green';
$checked-green-x: 45px;
$checked-green-y: 103px;
$checked-green-offset-x: -45px;
$checked-green-offset-y: -103px;
$checked-green-width: 12px;
$checked-green-height: 8px;
$checked-green-total-width: 158px;
$checked-green-total-height: 116px;
$checked-green-image: '../images/sprite.png';
$checked-green: (45px, 103px, -45px, -103px, 12px, 8px, 158px, 116px, '../images/sprite.png', 'checked-green', );
$compare-2-name: 'compare-2';
$compare-2-x: 80px;
$compare-2-y: 27px;
$compare-2-offset-x: -80px;
$compare-2-offset-y: -27px;
$compare-2-width: 25px;
$compare-2-height: 18px;
$compare-2-total-width: 158px;
$compare-2-total-height: 116px;
$compare-2-image: '../images/sprite.png';
$compare-2: (80px, 27px, -80px, -27px, 25px, 18px, 158px, 116px, '../images/sprite.png', 'compare-2', );
$compare-icon-name: 'compare-icon';
$compare-icon-x: 38px;
$compare-icon-y: 0px;
$compare-icon-offset-x: -38px;
$compare-icon-offset-y: 0px;
$compare-icon-width: 32px;
$compare-icon-height: 23px;
$compare-icon-total-width: 158px;
$compare-icon-total-height: 116px;
$compare-icon-image: '../images/sprite.png';
$compare-icon: (38px, 0px, -38px, 0px, 32px, 23px, 158px, 116px, '../images/sprite.png', 'compare-icon', );
$dislike-name: 'dislike';
$dislike-x: 117px;
$dislike-y: 51px;
$dislike-offset-x: -117px;
$dislike-offset-y: -51px;
$dislike-width: 18px;
$dislike-height: 16px;
$dislike-total-width: 158px;
$dislike-total-height: 116px;
$dislike-image: '../images/sprite.png';
$dislike: (117px, 51px, -117px, -51px, 18px, 16px, 158px, 116px, '../images/sprite.png', 'dislike', );
$hause-img-name: 'hause-img';
$hause-img-x: 0px;
$hause-img-y: 37px;
$hause-img-offset-x: 0px;
$hause-img-offset-y: -37px;
$hause-img-width: 26px;
$hause-img-height: 25px;
$hause-img-total-width: 158px;
$hause-img-total-height: 116px;
$hause-img-image: '../images/sprite.png';
$hause-img: (0px, 37px, 0px, -37px, 26px, 25px, 158px, 116px, '../images/sprite.png', 'hause-img', );
$heard-icon-name: 'heard-icon';
$heard-icon-x: 36px;
$heard-icon-y: 37px;
$heard-icon-offset-x: -36px;
$heard-icon-offset-y: -37px;
$heard-icon-width: 24px;
$heard-icon-height: 21px;
$heard-icon-total-width: 158px;
$heard-icon-total-height: 116px;
$heard-icon-image: '../images/sprite.png';
$heard-icon: (36px, 37px, -36px, -37px, 24px, 21px, 158px, 116px, '../images/sprite.png', 'heard-icon', );
$like-name: 'like';
$like-x: 117px;
$like-y: 25px;
$like-offset-x: -117px;
$like-offset-y: -25px;
$like-width: 18px;
$like-height: 16px;
$like-total-width: 158px;
$like-total-height: 116px;
$like-image: '../images/sprite.png';
$like: (117px, 25px, -117px, -25px, 18px, 16px, 158px, 116px, '../images/sprite.png', 'like', );
$list-yelow-name: 'list-yelow';
$list-yelow-x: 117px;
$list-yelow-y: 0px;
$list-yelow-offset-x: -117px;
$list-yelow-offset-y: 0px;
$list-yelow-width: 20px;
$list-yelow-height: 15px;
$list-yelow-total-width: 158px;
$list-yelow-total-height: 116px;
$list-yelow-image: '../images/sprite.png';
$list-yelow: (117px, 0px, -117px, 0px, 20px, 15px, 158px, 116px, '../images/sprite.png', 'list-yelow', );
$list-name: 'list';
$list-x: 117px;
$list-y: 77px;
$list-offset-x: -117px;
$list-offset-y: -77px;
$list-width: 20px;
$list-height: 14px;
$list-total-width: 158px;
$list-total-height: 116px;
$list-image: '../images/sprite.png';
$list: (117px, 77px, -117px, -77px, 20px, 14px, 158px, 116px, '../images/sprite.png', 'list', );
$lock-name: 'lock';
$lock-x: 147px;
$lock-y: 0px;
$lock-offset-x: -147px;
$lock-offset-y: 0px;
$lock-width: 11px;
$lock-height: 14px;
$lock-total-width: 158px;
$lock-total-height: 116px;
$lock-image: '../images/sprite.png';
$lock: (147px, 0px, -147px, 0px, 11px, 14px, 158px, 116px, '../images/sprite.png', 'lock', );
$persent-name: 'persent';
$persent-x: 60px;
$persent-y: 72px;
$persent-offset-x: -60px;
$persent-offset-y: -72px;
$persent-width: 19px;
$persent-height: 19px;
$persent-total-width: 158px;
$persent-total-height: 116px;
$persent-image: '../images/sprite.png';
$persent: (60px, 72px, -60px, -72px, 19px, 19px, 158px, 116px, '../images/sprite.png', 'persent', );
$podium-name: 'podium';
$podium-x: 80px;
$podium-y: 0px;
$podium-offset-x: -80px;
$podium-offset-y: 0px;
$podium-width: 27px;
$podium-height: 17px;
$podium-total-width: 158px;
$podium-total-height: 116px;
$podium-image: '../images/sprite.png';
$podium: (80px, 0px, -80px, 0px, 27px, 17px, 158px, 116px, '../images/sprite.png', 'podium', );
$search-name: 'search';
$search-x: 89px;
$search-y: 72px;
$search-offset-x: -89px;
$search-offset-y: -72px;
$search-width: 18px;
$search-height: 18px;
$search-total-width: 158px;
$search-total-height: 116px;
$search-image: '../images/sprite.png';
$search: (89px, 72px, -89px, -72px, 18px, 18px, 158px, 116px, '../images/sprite.png', 'search', );
$share-name: 'share';
$share-x: 31px;
$share-y: 72px;
$share-offset-x: -31px;
$share-offset-y: -72px;
$share-width: 19px;
$share-height: 21px;
$share-total-width: 158px;
$share-total-height: 116px;
$share-image: '../images/sprite.png';
$share: (31px, 72px, -31px, -72px, 19px, 21px, 158px, 116px, '../images/sprite.png', 'share', );
$slider-arrow-left-name: 'slider-arrow-left';
$slider-arrow-left-x: 147px;
$slider-arrow-left-y: 24px;
$slider-arrow-left-offset-x: -147px;
$slider-arrow-left-offset-y: -24px;
$slider-arrow-left-width: 9px;
$slider-arrow-left-height: 16px;
$slider-arrow-left-total-width: 158px;
$slider-arrow-left-total-height: 116px;
$slider-arrow-left-image: '../images/sprite.png';
$slider-arrow-left: (147px, 24px, -147px, -24px, 9px, 16px, 158px, 116px, '../images/sprite.png', 'slider-arrow-left', );
$slider-arrow-rigt-name: 'slider-arrow-rigt';
$slider-arrow-rigt-x: 147px;
$slider-arrow-rigt-y: 50px;
$slider-arrow-rigt-offset-x: -147px;
$slider-arrow-rigt-offset-y: -50px;
$slider-arrow-rigt-width: 9px;
$slider-arrow-rigt-height: 16px;
$slider-arrow-rigt-total-width: 158px;
$slider-arrow-rigt-total-height: 116px;
$slider-arrow-rigt-image: '../images/sprite.png';
$slider-arrow-rigt: (147px, 50px, -147px, -50px, 9px, 16px, 158px, 116px, '../images/sprite.png', 'slider-arrow-rigt', );
$spritesheet-width: 158px;
$spritesheet-height: 116px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-down-red, $arrow-down, $ask-l, $ask, $cart-icon, $chat, $checked-green, $compare-2, $compare-icon, $dislike, $hause-img, $heard-icon, $like, $list-yelow, $list, $lock, $persent, $podium, $search, $share, $slider-arrow-left, $slider-arrow-rigt, );
$spritesheet: (158px, 116px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
