// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-red-name: 'arrow-down-red';
$arrow-down-red-x: 192px;
$arrow-down-red-y: 138px;
$arrow-down-red-offset-x: -192px;
$arrow-down-red-offset-y: -138px;
$arrow-down-red-width: 10px;
$arrow-down-red-height: 6px;
$arrow-down-red-total-width: 205px;
$arrow-down-red-total-height: 162px;
$arrow-down-red-image: '../images/sprite.png';
$arrow-down-red: (192px, 138px, -192px, -138px, 10px, 6px, 205px, 162px, '../images/sprite.png', 'arrow-down-red', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 192px;
$arrow-down-y: 154px;
$arrow-down-offset-x: -192px;
$arrow-down-offset-y: -154px;
$arrow-down-width: 9px;
$arrow-down-height: 5px;
$arrow-down-total-width: 205px;
$arrow-down-total-height: 162px;
$arrow-down-image: '../images/sprite.png';
$arrow-down: (192px, 154px, -192px, -154px, 9px, 5px, 205px, 162px, '../images/sprite.png', 'arrow-down', );
$ask-l-name: 'ask-l';
$ask-l-x: 192px;
$ask-l-y: 0px;
$ask-l-offset-x: -192px;
$ask-l-offset-y: 0px;
$ask-l-width: 13px;
$ask-l-height: 13px;
$ask-l-total-width: 205px;
$ask-l-total-height: 162px;
$ask-l-image: '../images/sprite.png';
$ask-l: (192px, 0px, -192px, 0px, 13px, 13px, 205px, 162px, '../images/sprite.png', 'ask-l', );
$ask-name: 'ask';
$ask-x: 156px;
$ask-y: 94px;
$ask-offset-x: -156px;
$ask-offset-y: -94px;
$ask-width: 21px;
$ask-height: 21px;
$ask-total-width: 205px;
$ask-total-height: 162px;
$ask-image: '../images/sprite.png';
$ask: (156px, 94px, -156px, -94px, 21px, 21px, 205px, 162px, '../images/sprite.png', 'ask', );
$cart-icon-name: 'cart-icon';
$cart-icon-x: 0px;
$cart-icon-y: 104px;
$cart-icon-offset-x: 0px;
$cart-icon-offset-y: -104px;
$cart-icon-width: 28px;
$cart-icon-height: 27px;
$cart-icon-total-width: 205px;
$cart-icon-total-height: 162px;
$cart-icon-image: '../images/sprite.png';
$cart-icon: (0px, 104px, 0px, -104px, 28px, 27px, 205px, 162px, '../images/sprite.png', 'cart-icon', );
$chat-name: 'chat';
$chat-x: 192px;
$chat-y: 99px;
$chat-offset-x: -192px;
$chat-offset-y: -99px;
$chat-width: 12px;
$chat-height: 11px;
$chat-total-width: 205px;
$chat-total-height: 162px;
$chat-image: '../images/sprite.png';
$chat: (192px, 99px, -192px, -99px, 12px, 11px, 205px, 162px, '../images/sprite.png', 'chat', );
$checked-green-name: 'checked-green';
$checked-green-x: 192px;
$checked-green-y: 120px;
$checked-green-offset-x: -192px;
$checked-green-offset-y: -120px;
$checked-green-width: 12px;
$checked-green-height: 8px;
$checked-green-total-width: 205px;
$checked-green-total-height: 162px;
$checked-green-image: '../images/sprite.png';
$checked-green: (192px, 120px, -192px, -120px, 12px, 8px, 205px, 162px, '../images/sprite.png', 'checked-green', );
$compare-2-name: 'compare-2';
$compare-2-x: 156px;
$compare-2-y: 66px;
$compare-2-offset-x: -156px;
$compare-2-offset-y: -66px;
$compare-2-width: 25px;
$compare-2-height: 18px;
$compare-2-total-width: 205px;
$compare-2-total-height: 162px;
$compare-2-image: '../images/sprite.png';
$compare-2: (156px, 66px, -156px, -66px, 25px, 18px, 205px, 162px, '../images/sprite.png', 'compare-2', );
$compare-icon-name: 'compare-icon';
$compare-icon-x: 38px;
$compare-icon-y: 104px;
$compare-icon-offset-x: -38px;
$compare-icon-offset-y: -104px;
$compare-icon-width: 32px;
$compare-icon-height: 23px;
$compare-icon-total-width: 205px;
$compare-icon-total-height: 162px;
$compare-icon-image: '../images/sprite.png';
$compare-icon: (38px, 104px, -38px, -104px, 32px, 23px, 205px, 162px, '../images/sprite.png', 'compare-icon', );
$dislike-name: 'dislike';
$dislike-x: 86px;
$dislike-y: 141px;
$dislike-offset-x: -86px;
$dislike-offset-y: -141px;
$dislike-width: 18px;
$dislike-height: 16px;
$dislike-total-width: 205px;
$dislike-total-height: 162px;
$dislike-image: '../images/sprite.png';
$dislike: (86px, 141px, -86px, -141px, 18px, 16px, 205px, 162px, '../images/sprite.png', 'dislike', );
$fb-ico-name: 'fb-ico';
$fb-ico-x: 52px;
$fb-ico-y: 0px;
$fb-ico-offset-x: -52px;
$fb-ico-offset-y: 0px;
$fb-ico-width: 42px;
$fb-ico-height: 42px;
$fb-ico-total-width: 205px;
$fb-ico-total-height: 162px;
$fb-ico-image: '../images/sprite.png';
$fb-ico: (52px, 0px, -52px, 0px, 42px, 42px, 205px, 162px, '../images/sprite.png', 'fb-ico', );
$gp-ico-name: 'gp-ico';
$gp-ico-x: 104px;
$gp-ico-y: 0px;
$gp-ico-offset-x: -104px;
$gp-ico-offset-y: 0px;
$gp-ico-width: 42px;
$gp-ico-height: 42px;
$gp-ico-total-width: 205px;
$gp-ico-total-height: 162px;
$gp-ico-image: '../images/sprite.png';
$gp-ico: (104px, 0px, -104px, 0px, 42px, 42px, 205px, 162px, '../images/sprite.png', 'gp-ico', );
$hause-img-name: 'hause-img';
$hause-img-x: 156px;
$hause-img-y: 0px;
$hause-img-offset-x: -156px;
$hause-img-offset-y: 0px;
$hause-img-width: 26px;
$hause-img-height: 25px;
$hause-img-total-width: 205px;
$hause-img-total-height: 162px;
$hause-img-image: '../images/sprite.png';
$hause-img: (156px, 0px, -156px, 0px, 26px, 25px, 205px, 162px, '../images/sprite.png', 'hause-img', );
$heard-icon-name: 'heard-icon';
$heard-icon-x: 156px;
$heard-icon-y: 35px;
$heard-icon-offset-x: -156px;
$heard-icon-offset-y: -35px;
$heard-icon-width: 24px;
$heard-icon-height: 21px;
$heard-icon-total-width: 205px;
$heard-icon-total-height: 162px;
$heard-icon-image: '../images/sprite.png';
$heard-icon: (156px, 35px, -156px, -35px, 24px, 21px, 205px, 162px, '../images/sprite.png', 'heard-icon', );
$inst-ico-name: 'inst-ico';
$inst-ico-x: 52px;
$inst-ico-y: 52px;
$inst-ico-offset-x: -52px;
$inst-ico-offset-y: -52px;
$inst-ico-width: 42px;
$inst-ico-height: 42px;
$inst-ico-total-width: 205px;
$inst-ico-total-height: 162px;
$inst-ico-image: '../images/sprite.png';
$inst-ico: (52px, 52px, -52px, -52px, 42px, 42px, 205px, 162px, '../images/sprite.png', 'inst-ico', );
$like-name: 'like';
$like-x: 114px;
$like-y: 141px;
$like-offset-x: -114px;
$like-offset-y: -141px;
$like-width: 18px;
$like-height: 16px;
$like-total-width: 205px;
$like-total-height: 162px;
$like-image: '../images/sprite.png';
$like: (114px, 141px, -114px, -141px, 18px, 16px, 205px, 162px, '../images/sprite.png', 'like', );
$list-yelow-name: 'list-yelow';
$list-yelow-x: 117px;
$list-yelow-y: 104px;
$list-yelow-offset-x: -117px;
$list-yelow-offset-y: -104px;
$list-yelow-width: 20px;
$list-yelow-height: 15px;
$list-yelow-total-width: 205px;
$list-yelow-total-height: 162px;
$list-yelow-image: '../images/sprite.png';
$list-yelow: (117px, 104px, -117px, -104px, 20px, 15px, 205px, 162px, '../images/sprite.png', 'list-yelow', );
$list-name: 'list';
$list-x: 142px;
$list-y: 141px;
$list-offset-x: -142px;
$list-offset-y: -141px;
$list-width: 20px;
$list-height: 14px;
$list-total-width: 205px;
$list-total-height: 162px;
$list-image: '../images/sprite.png';
$list: (142px, 141px, -142px, -141px, 20px, 14px, 205px, 162px, '../images/sprite.png', 'list', );
$lock-name: 'lock';
$lock-x: 192px;
$lock-y: 23px;
$lock-offset-x: -192px;
$lock-offset-y: -23px;
$lock-width: 11px;
$lock-height: 14px;
$lock-total-width: 205px;
$lock-total-height: 162px;
$lock-image: '../images/sprite.png';
$lock: (192px, 23px, -192px, -23px, 11px, 14px, 205px, 162px, '../images/sprite.png', 'lock', );
$persent-name: 'persent';
$persent-x: 29px;
$persent-y: 141px;
$persent-offset-x: -29px;
$persent-offset-y: -141px;
$persent-width: 19px;
$persent-height: 19px;
$persent-total-width: 205px;
$persent-total-height: 162px;
$persent-image: '../images/sprite.png';
$persent: (29px, 141px, -29px, -141px, 19px, 19px, 205px, 162px, '../images/sprite.png', 'persent', );
$podium-name: 'podium';
$podium-x: 80px;
$podium-y: 104px;
$podium-offset-x: -80px;
$podium-offset-y: -104px;
$podium-width: 27px;
$podium-height: 17px;
$podium-total-width: 205px;
$podium-total-height: 162px;
$podium-image: '../images/sprite.png';
$podium: (80px, 104px, -80px, -104px, 27px, 17px, 205px, 162px, '../images/sprite.png', 'podium', );
$search-name: 'search';
$search-x: 58px;
$search-y: 141px;
$search-offset-x: -58px;
$search-offset-y: -141px;
$search-width: 18px;
$search-height: 18px;
$search-total-width: 205px;
$search-total-height: 162px;
$search-image: '../images/sprite.png';
$search: (58px, 141px, -58px, -141px, 18px, 18px, 205px, 162px, '../images/sprite.png', 'search', );
$share-name: 'share';
$share-x: 0px;
$share-y: 141px;
$share-offset-x: 0px;
$share-offset-y: -141px;
$share-width: 19px;
$share-height: 21px;
$share-total-width: 205px;
$share-total-height: 162px;
$share-image: '../images/sprite.png';
$share: (0px, 141px, 0px, -141px, 19px, 21px, 205px, 162px, '../images/sprite.png', 'share', );
$slider-arrow-left-name: 'slider-arrow-left';
$slider-arrow-left-x: 192px;
$slider-arrow-left-y: 47px;
$slider-arrow-left-offset-x: -192px;
$slider-arrow-left-offset-y: -47px;
$slider-arrow-left-width: 9px;
$slider-arrow-left-height: 16px;
$slider-arrow-left-total-width: 205px;
$slider-arrow-left-total-height: 162px;
$slider-arrow-left-image: '../images/sprite.png';
$slider-arrow-left: (192px, 47px, -192px, -47px, 9px, 16px, 205px, 162px, '../images/sprite.png', 'slider-arrow-left', );
$slider-arrow-rigt-name: 'slider-arrow-rigt';
$slider-arrow-rigt-x: 192px;
$slider-arrow-rigt-y: 73px;
$slider-arrow-rigt-offset-x: -192px;
$slider-arrow-rigt-offset-y: -73px;
$slider-arrow-rigt-width: 9px;
$slider-arrow-rigt-height: 16px;
$slider-arrow-rigt-total-width: 205px;
$slider-arrow-rigt-total-height: 162px;
$slider-arrow-rigt-image: '../images/sprite.png';
$slider-arrow-rigt: (192px, 73px, -192px, -73px, 9px, 16px, 205px, 162px, '../images/sprite.png', 'slider-arrow-rigt', );
$tw-ico-name: 'tw.ico';
$tw-ico-x: 0px;
$tw-ico-y: 52px;
$tw-ico-offset-x: 0px;
$tw-ico-offset-y: -52px;
$tw-ico-width: 42px;
$tw-ico-height: 42px;
$tw-ico-total-width: 205px;
$tw-ico-total-height: 162px;
$tw-ico-image: '../images/sprite.png';
$tw-ico: (0px, 52px, 0px, -52px, 42px, 42px, 205px, 162px, '../images/sprite.png', 'tw.ico', );
$vk-ico-name: 'vk.ico';
$vk-ico-x: 104px;
$vk-ico-y: 52px;
$vk-ico-offset-x: -104px;
$vk-ico-offset-y: -52px;
$vk-ico-width: 42px;
$vk-ico-height: 42px;
$vk-ico-total-width: 205px;
$vk-ico-total-height: 162px;
$vk-ico-image: '../images/sprite.png';
$vk-ico: (104px, 52px, -104px, -52px, 42px, 42px, 205px, 162px, '../images/sprite.png', 'vk.ico', );
$you-ico-name: 'you-ico';
$you-ico-x: 0px;
$you-ico-y: 0px;
$you-ico-offset-x: 0px;
$you-ico-offset-y: 0px;
$you-ico-width: 42px;
$you-ico-height: 42px;
$you-ico-total-width: 205px;
$you-ico-total-height: 162px;
$you-ico-image: '../images/sprite.png';
$you-ico: (0px, 0px, 0px, 0px, 42px, 42px, 205px, 162px, '../images/sprite.png', 'you-ico', );
$spritesheet-width: 205px;
$spritesheet-height: 162px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-down-red, $arrow-down, $ask-l, $ask, $cart-icon, $chat, $checked-green, $compare-2, $compare-icon, $dislike, $fb-ico, $gp-ico, $hause-img, $heard-icon, $inst-ico, $like, $list-yelow, $list, $lock, $persent, $podium, $search, $share, $slider-arrow-left, $slider-arrow-rigt, $tw-ico, $vk-ico, $you-ico, );
$spritesheet: (205px, 162px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
