.section-title {
  margin-right: 160px; }
  .section-title h1 {
    font-size: 34px;
    margin-top: 0;
    color: #333;
    font-weight: 700;
    display: inline; }

.scond-title span,
.scond-title h1 {
  font-size: 28px;
  margin-top: 0;
  color: #333;
  font-weight: 700;
  display: inline; }

.available-prod {
  float: right;
  color: #57ae85;
  position: relative;
  padding-right: 15px; }
  .available-prod:before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -15px;
    background: url("../images/sprite.png") -45px -103px;
    height: 8px;
    width: 12px; }

.main-price,
.main-price .price-wrp .price {
  font-size: 26px;
  font-weight: 700;
  color: #333;
  float: left;
  margin-right: 10px; }

.owl-prev,
.owl-next {
  display: block;
  height: 45px;
  width: 45px;
  color: transparent;
  float: left; }
  .owl-prev:before,
  .owl-next:before {
    content: "";
    display: block;
    margin: 13px auto; }

.owl-prev {
  background-color: #474a4e; }
  .owl-prev:before {
    background: url("../images/sprite.png") -147px -24px;
    height: 16px;
    width: 9px; }

.owl-next {
  background-color: #3c3f43; }
  .owl-next:before {
    background: url("../images/sprite.png") -147px -50px;
    height: 16px;
    width: 9px; }

.available-prod-no {
  color: #fb2539;
  float: right; }

.product-img-box {
  margin-top: 30px;
  position: relative; }
  .product-img-box .product-image {
    border: 1px solid #fff !important; }
  .product-img-box .more-views {
    display: block;
    position: absolute;
    top: 0px;
    max-width: 145px; }
  .product-img-box .preview-thumb {
    display: block;
    float: left;
    padding: 3px;
    margin: 0 7px 7px 0;
    border: 1px solid #eff0f3; }
    .product-img-box .preview-thumb:hover {
      border: 1px solid #ffdc2c; }

.relative-products {
  display: inline-block;
  width: 100%;
  margin: 60px 0;
  position: relative; }
  .relative-products .product-image {
    border: 0; }
    .relative-products .product-image:hover {
      border: 0; }
  .relative-products .owl-carousel,
  .relative-products .owl-carousel .owl-item,
  .relative-products .owl-stage-outer {
    position: static; }
  .relative-products .relative-item {
    padding: 0 10px; }
  .relative-products .owl-nav {
    top: 0;
    right: 0;
    position: absolute; }
  .relative-products img {
    max-width: 175px;
    margin: 0 auto; }
  .relative-products .sale {
    position: absolute;
    background-color: #ff8941;
    height: 31px;
    padding: 7px 15px;
    border-radius: 6px;
    z-index: 9;
    color: #fff; }
  .relative-products .product-info-wrapper {
    display: inline-block;
    width: 100%;
    margin: 25px 0 0px;
    height: 12px; }
    .relative-products .product-info-wrapper .product-code {
      float: left;
      font-size: 12px;
      margin: 0;
      color: #777; }
  .relative-products .product-title {
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0; }
    .relative-products .product-title a {
      color: #333; }
  .relative-products .old-price {
    color: #ff8941;
    line-height: 30px;
    display: block;
    font-size: 16px;
    padding-top: 12px;
    text-decoration: line-through; }

.product-collateral.toggle-content {
  width: 100%;
  border-bottom: 1px solid #eff0f3; }
  .product-collateral.toggle-content li.current {
    border: none; }
  .product-collateral.toggle-content > dl > dd {
    border: 0; }
  .product-collateral.toggle-content .collateral-tabs dd h2 {
    display: block;
    font-style: 1.5em;
    font-weight: 700; }
  .product-collateral.toggle-content .toggle-tabs {
    border: 0;
    background-color: #fff; }
    .product-collateral.toggle-content .toggle-tabs li.current {
      border: none;
      border-bottom: solid 2px #fb2539; }
      .product-collateral.toggle-content .toggle-tabs li.current span {
        color: #fb2539; }
  .product-collateral.toggle-content .toggle-tabs li.current > span {
    background-color: transparent; }
  .product-collateral.toggle-content li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 31px;
    line-height: 31px;
    color: #777;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    position: relative; }
    .product-collateral.toggle-content li:hover {
      background-color: #f7f7f9;
      color: #333; }
      .product-collateral.toggle-content li:hover span {
        color: #333 !important; }
    .product-collateral.toggle-content li .active {
      background-color: #fff;
      color: #333;
      border-bottom: 1px solid #fff;
      display: block; }
  .product-collateral.toggle-content .collateral-tabs.tab_container {
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    overflow: hidden; }

.information-tabs {
  display: inline-block;
  margin-bottom: 60px; }

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  width: 100%;
  border-bottom: 1px solid #eff0f3; }
  ul.tabs .active {
    border-bottom: solid 2px #fb2539;
    color: #fb2539; }
  ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 31px;
    line-height: 31px;
    color: #777;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    position: relative; }
    ul.tabs li:hover {
      background-color: #f7f7f9;
      color: #333; }
    ul.tabs li .active {
      background-color: #fff;
      color: #333;
      border-bottom: 1px solid #fff;
      display: block; }

.tab_container {
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #fff;
  overflow: hidden; }

.tab_content {
  display: none; }

.tab_drawer_heading {
  display: none; }

.detail-chars-l-i {
  display: inline-block;
  width: 100%;
  background-color: #f7f7f9; }

.detail-chars-l-i:nth-child(2n) {
  background-color: #fff; }

.detail-chars-l-i-title,
.detail-chars-l-i-field {
  width: 50%;
  margin: 0;
  float: left;
  padding: 10px 15px; }

.more-link {
  padding-bottom: 2px;
  text-decoration: underline;
  position: relative;
  padding-left: 15px; }
  .more-link:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    top: 4px;
    background: url("../images/sprite.png") -147px -76px;
    height: 6px;
    width: 10px; }

.reviewes {
  margin-bottom: 60px; }
  .reviewes .left-comment-side {
    position: relative;
    display: inline-block;
    width: 85%;
    padding-right: 20px;
    border-right: 1px solid #eff0f3; }
  .reviewes .like-it {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 0; }
    .reviewes .like-it p {
      display: inline-block;
      float: right;
      margin-bottom: 0; }
    .reviewes .like-it a {
      float: right;
      display: block;
      padding-left: 35px;
      top: 12px;
      position: relative;
      font-weight: 700; }
      .reviewes .like-it a:before {
        content: "";
        display: block;
        float: left;
        left: 12px;
        position: absolute; }
    .reviewes .like-it .dislike {
      color: #fb2539; }
      .reviewes .like-it .dislike:before {
        background: url("../images/sprite.png") -117px -51px;
        height: 16px;
        width: 18px; }
    .reviewes .like-it .like {
      color: #57ae85; }
      .reviewes .like-it .like:before {
        background: url("../images/sprite.png") -117px -25px;
        height: 16px;
        width: 18px; }
  .reviewes .top-buttons-wrapper {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px; }
  .reviewes .review-item {
    padding: 25px;
    border: 1px solid #ffdc2c;
    border-bottom: 0; }
  .reviewes .review-item:last-child {
    border-bottom: 1px solid #ffdc2c; }
  .reviewes .name {
    margin-top: 0;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 13px; }
  .reviewes .when {
    font-size: 11px;
    padding-top: 5px;
    display: block;
    color: #777; }
  .reviewes .green-text {
    color: #57ae85; }
  .reviewes .red-text {
    color: #fb2539; }
  .reviewes .bottom-buttons-wrapper a {
    color: #333;
    margin-right: 30px;
    padding-bottom: 2px;
    border-bottom: 1px solid #777;
    font-weight: 700; }
  .reviewes .right-comment-side {
    display: inline-block;
    width: 15%;
    float: right;
    padding-left: 20px; }
    .reviewes .right-comment-side .reating-number,
    .reviewes .right-comment-side span {
      font-weight: 700; }
    .reviewes .right-comment-side .reating-number {
      margin-left: 10px; }

.recent-viewed-products {
  display: inline-block;
  position: relative;
  margin-bottom: 60px;
  width: 100%; }
  .recent-viewed-products .recent-item img {
    max-width: 175px;
    margin: 0 auto; }
  .recent-viewed-products .available-prod {
    display: inline;
    width: 100%;
    margin: 0 15px 15px 15px; }
  .recent-viewed-products .main-price {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 22px; }
  .recent-viewed-products .compare {
    position: relative;
    color: transparent;
    float: left;
    top: 7px;
    left: 10px; }
    .recent-viewed-products .compare:before {
      content: "";
      display: block;
      background: url("../images/sprite.png") -38px 0px;
      height: 23px;
      width: 32px; }
  .recent-viewed-products .statistic-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 10px 0; }
    .recent-viewed-products .statistic-wrapper span {
      display: block;
      width: 90px;
      float: left; }
    .recent-viewed-products .statistic-wrapper .comments {
      float: right;
      bottom: 2px;
      position: relative; }
  .recent-viewed-products .owl-nav {
    display: block;
    width: 44px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%; }
    .recent-viewed-products .owl-nav .owl-prev,
    .recent-viewed-products .owl-nav .owl-next {
      height: 50%;
      padding-top: 85px; }
  .recent-viewed-products .owl-item {
    border: 2px solid #eff0f3;
    margin-right: 0 !important;
    border-right: 0;
    padding: 15px; }
  .recent-viewed-products .owl-item:last-child {
    border-right: 2px solid #eff0f3; }

@media screen and (max-width: 480px) {
  .tabs {
    display: none; }
  .tab_drawer_heading {
    background-color: #ccc;
    color: #fff;
    border-top: 1px solid #333;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .d_active {
    background-color: #666;
    color: #fff; } }

.search-wrapper {
  position: relative;
  margin-top: 35px; }
  .search-wrapper .button {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 50px;
    background-color: transparent; }
    .search-wrapper .button:before {
      content: "";
      display: block;
      position: absolute;
      right: 15px;
      top: 12px;
      background: url("../images/sprite.png") -89px -72px;
      height: 18px;
      width: 18px; }
    .search-wrapper .button:hover {
      background-color: transparent; }
  .search-wrapper .search-field {
    border-radius: 22px;
    height: 45px;
    width: 100%;
    padding-left: 15px;
    padding-right: 40px;
    border: 1px solid #c2c2c2; }

.select-wrapper {
  float: left;
  position: relative;
  margin-left: 10px;
  height: 44px; }
  .select-wrapper:after {
    float: left;
    content: " ";
    right: 15px;
    position: absolute;
    display: block;
    margin-top: 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 9px;
    height: 5px;
    background: url("../images/sprite.png") -147px -92px; }

select {
  color: #333;
  background-color: transparent;
  padding: 0 29px 0 15px;
  line-height: 44px;
  vertical-align: middle;
  display: inline-block;
  border: none;
  float: left;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none; }

.main-btn {
  background: transparent;
  border: 2px solid;
  color: #333;
  padding: 5px 20px; }

.yelow-btn {
  border: 2px solid #ffdc2c; }
  .yelow-btn:hover, .yelow-btn:active, .yelow-btn:focus {
    background-color: #ffdc2c; }

.red-btn {
  border: 2px solid #fb2539; }
  .red-btn:hover, .red-btn:active, .red-btn:focus {
    background-color: #fb2539; }

.buy-btn {
  padding: 10px 25px;
  border: 0;
  margin-right: 10px;
  color: #fff;
  font-weight: 700;
  background-color: #fb2539; }
  .buy-btn:hover, .buy-btn:active, .buy-btn:focus {
    background-color: #e9041a; }

body {
  font-size: 13px;
  overflow-x: hidden; }

body a {
  color: #777; }
  body a:hover, body a:active, body a:focus {
    color: #444444;
    text-decoration: none; }

ul {
  padding-left: 0; }
  ul li {
    list-style: none; }

.top-header {
  background-color: #eff0f3; }
  .top-header .left-nav,
  .top-header .localisation,
  .top-header .autorization,
  .top-header .your-city-wrapper {
    float: left; }
  .top-header .localisation,
  .top-header .autorization {
    width: 15%; }
  .top-header .left-nav a,
  .top-header .localisation a,
  .top-header .autorization a {
    line-height: 44px;
    display: block;
    float: left;
    vertical-align: middle;
    height: 44px;
    margin-right: 15px; }
  .top-header .left-nav {
    width: 50%; }
  .top-header .your-city-wrapper {
    line-height: 44px;
    width: 20%; }
    .top-header .your-city-wrapper label {
      color: #777;
      float: left; }
    .top-header .your-city-wrapper .select-wrapper {
      border-right: 1px solid #c2c2c2;
      border-left: 1px solid #c2c2c2; }
  .top-header .autorization {
    text-align: right; }
    .top-header .autorization a {
      margin: 0 0 0 15px;
      float: right; }
    .top-header .autorization .log-in-link {
      color: #fb2539; }
      .top-header .autorization .log-in-link:before {
        content: "";
        display: block;
        width: 11px;
        height: 14px;
        float: left;
        margin: 14px 5px 0 0;
        background: url("../images/sprite.png") -147px 0px;
        height: 14px;
        width: 11px; }

.active_head {
  border-bottom: 2px solid #fb2539;
  color: #333; }

.mid-header .logo-wrappder,
.mid-header #search,
.mid-header #call-back,
.mid-header .action-buttons {
  float: left;
  display: block; }

.mid-header .logo-wrappder {
  width: 20%;
  background-color: #ffdc2c;
  padding: 35px 0;
  max-height: 115px;
  overflow: hidden; }
  .mid-header .logo-wrappder img {
    display: block;
    margin: 0 auto; }

.mid-header #search_mini_form {
  position: relative;
  width: 30%;
  padding: 0 2%;
  float: left; }

.mid-header #call-back {
  height: 115px;
  width: 25%; }
  .mid-header #call-back .select-wrapper {
    padding-top: 35px; }
  .mid-header #call-back .main-btn {
    margin-top: 40px; }

.mid-header .action-buttons {
  width: 25%;
  position: relative; }
  .mid-header .action-buttons ul li {
    float: right;
    width: 25%;
    text-align: center; }
  .mid-header .action-buttons li a {
    font-size: 12px;
    color: #777;
    text-transform: initial;
    width: 100%; }
  .mid-header .action-buttons li .skip-link {
    line-height: 19px; }
  .mid-header .action-buttons .icon-wrapper .action-btn {
    display: block;
    margin: 0 auto 15px auto; }
  .mid-header .action-buttons .icon-wrapper .shopping-cart {
    margin-bottom: 10px; }
  .mid-header .action-buttons .icon-wrapper {
    margin-top: 30px;
    width: 100%;
    height: 30px;
    display: inline-block; }
  .mid-header .action-buttons .garage {
    background: url("../images/sprite.png") 0px -37px;
    height: 25px;
    width: 26px; }
  .mid-header .action-buttons .wishlist {
    background: url("../images/sprite.png") -36px -37px;
    height: 21px;
    width: 24px; }
  .mid-header .action-buttons .compare {
    background: url("../images/sprite.png") -38px 0px;
    height: 23px;
    width: 32px; }
  .mid-header .action-buttons .shopping-cart {
    background: url("../images/sprite.png") 0px 0px;
    height: 27px;
    width: 28px; }

.main-navigation-wrapper {
  background-color: #3c3f43; }

.main-navigation-wrapper nav .nav-primary {
  margin-top: 0; }
  .main-navigation-wrapper nav .nav-primary .nav-1,
  .main-navigation-wrapper nav .nav-primary .nav-2,
  .main-navigation-wrapper nav .nav-primary .nav-3,
  .main-navigation-wrapper nav .nav-primary .nav-4,
  .main-navigation-wrapper nav .nav-primary .nav-5 {
    position: relative;
    width: 20%;
    border-right: 1px solid #c2c2c2;
    text-align: center;
    float: left;
    display: block;
    line-height: 55px;
    position: relative; }
    .main-navigation-wrapper nav .nav-primary .nav-1:hover,
    .main-navigation-wrapper nav .nav-primary .nav-2:hover,
    .main-navigation-wrapper nav .nav-primary .nav-3:hover,
    .main-navigation-wrapper nav .nav-primary .nav-4:hover,
    .main-navigation-wrapper nav .nav-primary .nav-5:hover {
      background-color: #242628; }
  .main-navigation-wrapper nav .nav-primary > li.level0 ul {
    top: 55px;
    background-color: #3c3f43; }
    .main-navigation-wrapper nav .nav-primary > li.level0 ul a {
      color: #fff;
      padding-left: 10px !important; }
      .main-navigation-wrapper nav .nav-primary > li.level0 ul a:after {
        display: none !important; }
      .main-navigation-wrapper nav .nav-primary > li.level0 ul a:hover {
        background-color: #242628; }
  .main-navigation-wrapper nav .nav-primary a.level0 {
    position: relative;
    padding-left: 35px;
    line-height: 55px;
    color: #fff;
    text-transform: capitalize; }
    .main-navigation-wrapper nav .nav-primary a.level0:before {
      position: absolute;
      content: "";
      display: block;
      left: 0;
      top: 19px; }
  .main-navigation-wrapper nav .nav-primary .nav-2 a:before {
    top: 17px;
    background: url("../images/sprite.png") -60px -72px;
    height: 19px;
    width: 19px; }
  .main-navigation-wrapper nav .nav-primary .nav-3 a:before {
    background: url("../images/sprite.png") -80px 0px;
    height: 17px;
    width: 27px; }
  .main-navigation-wrapper nav .nav-primary .nav-4 a:before {
    background: url("../images/sprite.png") 0px -72px;
    height: 21px;
    width: 21px; }
  .main-navigation-wrapper nav .nav-primary .nav-5 a:before {
    margin-top: 5px;
    background: url("../images/sprite.png") -117px 0px;
    height: 15px;
    width: 20px; }
  .main-navigation-wrapper nav .nav-primary .level0.nav-1.parent {
    background-color: #fb2539;
    text-align: left;
    border-right: 0;
    padding: 0 20px;
    position: relative; }
    .main-navigation-wrapper nav .nav-primary .level0.nav-1.parent:hover {
      background-color: #e9041a; }
    .main-navigation-wrapper nav .nav-primary .level0.nav-1.parent a {
      padding-left: 0;
      position: static; }
      .main-navigation-wrapper nav .nav-primary .level0.nav-1.parent a:after {
        position: absolute;
        content: "";
        display: block;
        right: 20px;
        top: 23px;
        background: url("../images/sprite.png") -117px -77px;
        height: 14px;
        width: 20px; }

.bread-crumbs {
  margin: 20px 0; }
  .bread-crumbs ul li {
    position: relative;
    float: left;
    padding-right: 25px;
    margin-right: 15px; }
    .bread-crumbs ul li:after {
      content: "";
      position: absolute;
      right: 0;
      top: 8px;
      display: block;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      width: 9px;
      height: 5px;
      background: url("../images/sprite.png") -147px -92px; }
  .bread-crumbs ul li:last-child:after {
    background: transparent; }

.main-content {
  margin: 30px 0; }

.product-essential {
  position: relative; }
  .product-essential .ticket-cod {
    right: 0;
    top: 0;
    background-color: #ffdc2c;
    position: absolute;
    text-align: right;
    padding: 10px 10px 10px 15px; }
    .product-essential .ticket-cod p {
      margin: 0; }
    .product-essential .ticket-cod:before {
      content: "";
      position: absolute;
      left: -6px;
      top: 13px;
      display: block;
      width: 14px;
      height: 14px;
      background-color: #fff;
      border-radius: 7px; }

.img-preview {
  width: 45%;
  float: left; }

.product-view .descr-wrapper {
  margin-top: 30px;
  width: 55%;
  float: left; }
  .product-view .descr-wrapper p {
    margin: 0; }
  .product-view .descr-wrapper .stat-item {
    display: block;
    float: left !important;
    margin-right: 25px; }
  .product-view .descr-wrapper .avialable {
    font-weight: 700; }
  .product-view .descr-wrapper .questions,
  .product-view .descr-wrapper .comments {
    position: relative;
    margin-left: 20px;
    border-bottom: 1px solid #777; }
    .product-view .descr-wrapper .questions:before,
    .product-view .descr-wrapper .comments:before {
      content: "";
      display: block;
      position: absolute;
      left: -20px;
      top: 4px; }
  .product-view .descr-wrapper .comments:before {
    width: 12px;
    height: 11px;
    background: url("../images/sprite.png") -23px -103px; }
  .product-view .descr-wrapper .questions:before {
    width: 13px;
    height: 13px;
    background: url("../images/sprite.png") 0px -103px; }
  .product-view .descr-wrapper .main-info {
    display: block;
    margin-top: 47px;
    padding: 30px;
    background-color: #f7f7f9; }
    .product-view .descr-wrapper .main-info .price-wrp {
      margin-bottom: 25px;
      display: inline-block; }
      .product-view .descr-wrapper .main-info .price-wrp span.price {
        font-weight: 700;
        font-size: 40px;
        color: #999; }
    .product-view .descr-wrapper .main-info .main-btn {
      margin-bottom: 30px;
      padding: 15px 50px;
      font-weight: 700; }
    .product-view .descr-wrapper .main-info .description {
      color: #777;
      font-size: 12px;
      margin-bottom: 30px; }
    .product-view .descr-wrapper .main-info .share,
    .product-view .descr-wrapper .main-info .compare {
      margin: 0 35px 0 30px;
      position: relative; }
      .product-view .descr-wrapper .main-info .share:before,
      .product-view .descr-wrapper .main-info .compare:before {
        content: "";
        display: block;
        float: left;
        position: absolute;
        left: -30px;
        top: -4px; }
    .product-view .descr-wrapper .main-info .share:before {
      background: url("../images/sprite.png") -31px -72px;
      height: 21px;
      width: 19px; }
    .product-view .descr-wrapper .main-info .compare:before {
      background: url("../images/sprite.png") -80px -27px;
      height: 18px;
      width: 25px; }

@media screen and (max-width: 991px) {
  .top-header .left-nav {
    width: 85%; }
  .top-header .localisation {
    width: 15%; }
    .top-header .localisation a {
      float: right; }
  .top-header .your-city-wrapper {
    width: 60%; }
  .top-header .autorization {
    width: 40%; }
  .mid-header .logo-wrappder img {
    width: 100%;
    padding: 0 5px; } }

@media screen and (max-width: 768px) {
  .descr-wrapper,
  .img-preview {
    width: 100%; } }
